.background1 {
    -fx-background-color: rgb(95,132,206);
}

.background2 {
    -fx-background-color:  rgb(255,255,255);
}

.label:hover {
    -fx-border-radius: 50;
    -fx-border-width: 3;
    -fx-border-color: rgba(255,255,255,0.9);
}

.button{
	-fx-background-color: rgb(95,132,206);
	-fx-border-style: none;
	-fx-background-radius: 0;
}

.button:hover{
	-fx-background-color: white;
	-fx-border-width: 2;
	-fx-border-color:rgb(95,132,206);
}

